<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enneagram Test</title>
    <link rel="stylesheet" href="/static/mbti.css">
    <link rel="stylesheet" href="../static/nav.css">
</head>
<body>
     <nav>
        <div class="logo">
            <h4>Characterify</h4>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/learn">Article</a></li>
 
            <li class="dropdown5">
             <a href="/listtest">Test<span class="arrow-down"></span></a>
            <ul class="inner-dropdown">
                <li><a href="/beforembti">MBTI Test</a></li>
                <li><a href="/beforetemperament">4 Temperament Test</a></li>
                <li><a href="/beforeennegram">Enneagram Test</a></li>
                <li><a href="/beforeocean">OCEAN Test</a></li>
            </ul>
            </li>

            <li><a href="/about">About</a></li>
        </ul>
    
        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
        </nav>
    <h2>Enneagram Personality Test</h2>

    <form action="/enneagram_result" method="POST">
        {% for q in enneagram_questions %}
        <div class="question-box">
            <p>{{ loop.index }}. {{ q[1] }}</p>
            <div class="setuju">
                <h3>Sangat Tidak Setuju</h3>
                <h3>Sangat Setuju</h3>
            </div>
            
            <div class="answer">
            <label class="option1"><input type="radio" name="q{{ loop.index0 }}" value="0" required>
            <span class="check"></span>
            </label>
            <label class="option2"><input type="radio" name="q{{ loop.index0 }}" value="1">
            <span class="check"></span>
            </label>
            <label class="option3"><input type="radio" name="q{{ loop.index0 }}" value="2">
            <span class="check"></span>
            </label>
            <label class="option4"><input type="radio" name="q{{ loop.index0 }}" value="3">
            <span class="check"></span>
            </label>
            <label class="option5"><input type="radio" name="q{{ loop.index0 }}" value="4">
            <span class="check"></span>
            </label>
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn">Lihat Hasil</button>
    </form>
    <script src="/script"></script>
</body>
</html>
