<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Characterify</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/body.css">
    <link rel="stylesheet" href="../static/fitur.css">
</head>
<body>
    
    <nav>
        <div class="logo">
            <h4>Characterify</h4>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/learn">Article</a></li>
 
            <li class="dropdown5">
             <a href="/listtest">Test<span class="arrow-down"></span></a>
            <ul class="inner-dropdown">
                <li><a href="/beforembti">MBTI Test</a></li>
                <li><a href="/beforetemperament">4 Temperament Test</a></li>
                <li><a href="/beforeennegram">Enneagram Test</a></li>
                <li><a href="/beforeocean">OCEAN Test</a></li>
            </ul>
            </li>

            <li><a href="/about">About</a></li>
        </ul>
    
        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <div class="element">
        <div class="teks">
            <h5>CHARACTERIFY</h5>
            <h3>DISCOVERY</h3>
            <p>Jelajahi lebih dalam siapa diri Anda. Temukan pola unik dalam kepribadian yang membentuk cara Anda berpikir, berinteraksi, dan berkembang. Setiap langkah adalah kesempatan untuk mengenal potensi terbaik dalam diri.</p>
            <a href="/test" class="btn"><h6>Get Started</h6></a>
        </div>

    </div>
    </div>

    <script src="/script"></script>
</body>
</html>
