body {
    font-family: sans-serif;
    background-image: url('back5.jpg'),linear-gradient(#86b6da);
    background-repeat: no-repeat,repeat;
    background-size: cover,cover;
    background-position: center,center;
    height: 100vh;
    overflow-x: hidden;
    background-attachment: fixed;
}
.element{
    display: flex;
    justify-content: space-around;
    padding-top: 210px;
    margin-right: 0;

}
.teks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-left: 100px;
    padding-right: 60px;
    color: rgb(0, 0, 0);
}

.teks h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #0a1931;
}

.teks h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 52px;
    color: rgb(0, 0, 0);
}

.teks h6{
    font-size: 15px;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    margin-left: 900px;
    margin-right: 70px;
    background: linear-gradient(to bottom, #6f00ffd5, #ae51ff,#860fd5ce);
    border: 0.5px solid rgb(134, 89, 250);
    border-radius: 10px;
}

.teks p{
    margin-left: 67%;
}

@media screen and (max-width: 576px){
body{
    background-image: url('backhp3.jpg'),linear-gradient(#ffffff);
    background-position-y:-30px;
    }
    .teks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top:130px;
        text-align: left;

    }
    .teks p{
        text-align: left;
        margin-left: 0;
    }
    .teks h5{
        margin-left: 150px;
    }
    .teks h6{
        position: absolute;
        margin-left: 85px;
        padding:3px 30px;
        text-align: left;
    }
 
}