* {
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, #0a1931, #0a1931ad,#4a7fa700);
    padding: 20px 0;
    color: #4a7fa7;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
}

nav ul li a {
    color: #4a7fa7;
    text-decoration: none;
}

nav  ul li a:hover{    
    color: whitesmoke;
    background-attachment: fixed;

}

/* hamburger */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 1001;
}

/* Animation */

.menu-toggle span{
    z-index: 1000;
    display: block;
    width: 28px;
    height: 3px;
    background-color: #4a7fa7;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;

}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;

}
.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px,-1px);

}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px,0);

}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0)

}

/*drop down*/


/* Dropdown di navbar */


nav ul li {
  position: relative; /* penting agar dropdown bisa absolute */
}

nav ul li a {
  color: #4a7fa7;
  text-decoration: none;
  display: block;
}

/* Dropdown container */
.dropdown5 .arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #4a7fa7;
  display: inline-block;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

/* Inner dropdown */
.inner-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0a1931;
  width: 180px;
  display: none;
  flex-direction: column;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 999;
}

.inner-dropdown li {
  text-align: left;
}

.inner-dropdown li a {
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  display: block;
}

.inner-dropdown li a:hover {
  background-color: #4a7fa7;
}

/* Hover effect */
.dropdown5:hover .inner-dropdown {
  display: flex;
}

.dropdown5:hover .arrow-down {
  transform: rotate(180deg);
}





/* Responsive */

/* Tablet */
@media screen and (max-width: 768px){
    nav ul {
        width: 50%;
    }
}

/* Mobile */
@media screen and (max-width: 576px){
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: 999;
        background-color: #0A1931;
        transform: translateX(100%);
        transition: all 0.7s;
        opacity: 0;
    }
    .menu-toggle{
        display: flex;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
    
}