<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4 Temperament Classic - Characterify</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/beforembti.css">
</head>
<body>
         
    <nav>
        <div class="logo">
            <h4>Characterify</h4>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/learn">Article</a></li>
 
            <li class="dropdown5">
             <a href="/listtest">Test<span class="arrow-down"></span></a>
            <ul class="inner-dropdown">
                <li><a href="/beforembti">MBTI Test</a></li>
                <li><a href="/beforetemperament">4 Temperament Test</a></li>
                <li><a href="/beforeennegram">Enneagram Test</a></li>
                <li><a href="/beforeocean">OCEAN Test</a></li>
            </ul>
            </li>

            <li><a href="/about">About</a></li>
        </ul>
    
        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>


    <div class="intro">
        <H2>Tes 4 Temperament Classic</H2>
        <p>Tes 4 Temperamen dirancang untuk membantu Anda mengenali kecenderungan dasar kepribadian yang memengaruhi cara berpikir, berinteraksi, dan merespons situasi sehari-hari. Empat temperamen klasik—Sanguinis, Koleris, Melankolis, dan Plegmatis—memberikan gambaran umum tentang pola perilaku dan preferensi emosional seseorang. Dengan memahami temperamen dominan Anda, Anda dapat lebih mudah mengenali kekuatan, tantangan, serta cara berkomunikasi yang paling efektif dengan orang lain. Tes ini bukan untuk menilai benar atau salah, melainkan untuk memberikan wawasan yang dapat digunakan sebagai bahan refleksi dan pengembangan diri, baik dalam kehidupan pribadi maupun profesional.</p>
        <p><b>Petunjuk : </b></p>
        <div class="petunjuk">
            <p>a. Tidak ada jawaban benar atau salah. Pilih jawaban yang paling sesuai dengan diri Anda.</p>
            <p>b. Jawablah secara jujur dan spontan, jangan terlalu lama berpikir.</p>
            <p>c. Fokus pada kebiasaan umum Anda, bukan situasi khusus.</p>
            <p>d. Waktu pengerjaan: ±5–10 menit</p>
        </div>
        <a href="/temperament" class="btn"><h6> Mulai Tes</h6></a>

    </div>
        <div class="info">
            <img src="../static/temperament_icon/koleris.png" alt="">
            <p><b>Koleris</b><br>Koleris adalah tipe tegas, ambisius, dan suka memimpin. Mereka berorientasi pada tujuan, percaya diri, dan cepat mengambil keputusan. Namun, bisa keras kepala, kurang sabar, dan cenderung dominan, sehingga kadang menimbulkan konflik dalam kerja tim.</p>
        </div>
        <div class="info">
            <p><b>Melankolis</b><br>Melankolis dikenal perfeksionis, analitis, dan sensitif. Mereka teliti, terorganisir, dan berpikir mendalam sebelum bertindak. Namun, cenderung pesimis, mudah cemas, dan kadang terlalu kritis terhadap diri sendiri maupun orang lain, sehingga sulit mengambil keputusan cepat.</p>
            <img src="../static/temperament_icon/melankolis.png" alt="">
        </div>
        <div class="info">
            <img src="../static/temperament_icon/sanguine.png" alt="">
            <p><b>sanguine</b><br>Sanguine adalah tipe ceria, ramah, dan suka bersosialisasi. Mereka optimis, penuh energi, dan mudah beradaptasi dalam berbagai situasi. Kekurangannya, sering kurang disiplin, mudah bosan, dan sulit fokus pada satu tugas dalam jangka panjang.</p>
        </div>
        <div class="info">
            <p><b>Plegmatis</b><br>Plegmatis memiliki sifat tenang, sabar, dan pendiam. Mereka stabil, bisa diandalkan, dan pendengar yang baik dalam interaksi sosial. Kekurangannya, kurang ambisi, cenderung pasif, dan sering menunda keputusan penting, sehingga tampak lambat dalam menghadapi perubahan.</p>
            <img src="../static/temperament_icon/plegmatis.png" alt="">
        </div>
    </div>

<script src="/script"></script>
</body>
</html>