<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enneagram - Characterify</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/beforembti.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h4>Characterify</h4>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/learn">Article</a></li>
 
            <li class="dropdown5">
             <a href="/listtest">Test<span class="arrow-down"></span></a>
            <ul class="inner-dropdown">
                <li><a href="/beforembti">MBTI Test</a></li>
                <li><a href="/beforetemperament">4 Temperament Test</a></li>
                <li><a href="/beforeennegram">Enneagram Test</a></li>
                <li><a href="/beforeocean">OCEAN Test</a></li>
            </ul>
            </li>

            <li><a href="/about">About</a></li>
        </ul>
    
        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>


    <div class="intro">
        <H2>Enneagram Personality Test</H2>
        <p>Tes Enneagram membantu Anda memahami sembilan tipe kepribadian yang menggambarkan motivasi, pola pikir, dan cara berinteraksi dengan dunia. Setiap tipe memiliki kekuatan, tantangan, dan potensi pengembangan yang unik. Dengan mengenali tipe dominan Anda, Anda dapat memperoleh wawasan mendalam tentang diri sendiri, meningkatkan hubungan, dan menemukan strategi untuk berkembang secara personal maupun profesional. Tes ini bukan untuk menilai benar atau salah, melainkan untuk memberikan panduan refleksi diri yang bermanfaat.</p>
        <p><b>Petunjuk : </b></p>
        <div class="petunjuk">
            <p>a. Tidak ada jawaban benar atau salah. Pilih jawaban yang paling sesuai dengan diri Anda.</p>
            <p>b. Jawablah secara jujur dan spontan, jangan terlalu lama berpikir.</p>
            <p>c. Fokus pada kebiasaan umum Anda, bukan situasi khusus.</p>
            <p>d. Waktu pengerjaan: ±5–10 menit</p>
        </div>
        <a href="/enneagram" class="btn"><h6> Mulai Tes</h6></a>

<script src="/script"></script>
</body>
</html>