<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Test - Characterify</title>
    <link rel="stylesheet" href="../static/listtest.css">
    <link rel="stylesheet" href="../static/nav.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h4>Characterify</h4>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/learn">Article</a></li>
 
            <li class="dropdown5">
             <a href="/listtest">Test<span class="arrow-down"></span></a>
            <ul class="inner-dropdown">
                <li><a href="/beforembti">MBTI Test</a></li>
                <li><a href="/beforetemperament">4 Temperament Test</a></li>
                <li><a href="/beforeennegram">Enneagram Test</a></li>
                <li><a href="/beforeocean">OCEAN Test</a></li>
            </ul>
            </li>

            <li><a href="/about">About</a></li>
        </ul>
    
        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
        </nav>

    <div class="list">
        <H1>Personality Test</H1>
        <div class="list1">
            <img src="../static/teslist/mbti.jpg" alt="">
            <div class="list2">
            <a href="/beforembti"><h2>Myers-Briggs Type Indicator</h2></a>
            <p>Tes MBTI membantu mengidentifikasi pola kepribadian berdasarkan cara seseorang memproses informasi, mengambil keputusan, dan berinteraksi dengan lingkungan. Hasilnya akan menunjukkan salah satu dari 16 tipe kepribadian.</p>
            </div>
        </div>
        <div class="list1">
            <img src="../static/teslist/temperament.jpg" alt="">
            <div class="list2">
            <a href="/beforetemperament"><h2>Four Temperament Personality Test</h2></a>
            <p>Tes ini mengelompokkan kepribadian menjadi empat tipe utama: Sanguinis, Koleris, Melankolis, dan Phlegmatis. Cocok untuk memahami gaya komunikasi, emosi, serta perilaku sehari-hari.</p>
            </div>
        </div>
        <div class="list1">
            <img src="../static/teslist/enneagram.jpg" alt="">
            <div class="list2">
           <a href="/beforeennegram"><h2>Enneagram Personality test</h2></a>
            <p>Tes Enneagram mengungkap motivasi utama yang memengaruhi kebiasaan, reaksi emosional, dan cara seseorang melihat dunia. Terdiri dari 9 tipe dasar kepribadian yang saling berkaitan</p>
            </div>
        </div>
        <div class="list1">
            <img src="../static/teslist/ocean.jpg" alt="">
            <div class="list2">
            <a href="/beforeocean"><h2>OCEAN Personality Tests</h2></a>
            <p>Tes OCEAN menilai kepribadian berdasarkan lima dimensi utama: Openness, Conscientiousness, Extraversion, Agreeableness, dan Neuroticism. Dipakai secara luas dalam penelitian psikologi modern.</p>
            </div>
        </div>
    
    </div>
    <script src="/script"></script>
</body>
</html>