<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test - Characterify</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/test.css">
</head>
<body>
        
    <nav>
        <div class="logo">
            <h4>Characterify</h4>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/learn">Article</a></li>
 
            <li class="dropdown5">
             <a href="/listtest">Test<span class="arrow-down"></span></a>
            <ul class="inner-dropdown">
                <li><a href="/beforembti">MBTI Test</a></li>
                <li><a href="/beforetemperament">4 Temperament Test</a></li>
                <li><a href="/beforeennegram">Enneagram Test</a></li>
                <li><a href="/beforeocean">OCEAN Test</a></li>
            </ul>
            </li>

            <li><a href="/about">About</a></li>
        </ul>
    
        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    
    <div class="element">
        <div class="teks">
            <h5>PERSONALITY TEST</h5>
            <h3>MBTI 16 PERSONALITIES</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus officiis nobis laudantium voluptate delectus sed aspernatur, illum ipsum illo aut dicta earum possimus autem est ut, quae, aliquam nisi accusamus!</p>
            <a href="/beforembti" class="btn"><h6>Start MBTI Test</h6></a>
            <a href="/beforetemperament">check other personality tests</a>
        </div>
    </div>
    </div>

    <script src="/script"></script>
</body>
</html>